In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [1]:
#Generate random restaurant data
import random
import json

restaurants = []
for i in range(500):
    name = f"Restaurant {i}"
    rating = round(random.uniform(0, 1), 1)
    review = round(random.uniform(0, 1), 1)
    restaurants.append({"name": name, "rating": rating, "review": review})

with open("restaurants.json", "w") as f:
    json.dump(restaurants, f, indent=2)

In [ ]:
restaurants

In [ ]:
#Transforming list of json objects into csv 
import csv

# Load the JSON data from file
with open('restaurants.json', 'r') as f:
    data = json.load(f)

# Define the headers for the CSV file
headers = ['name', 'rating', 'review']

# Open a new CSV file for writing
with open('data.csv', 'w', newline='') as f:
    writer = csv.DictWriter(f, fieldnames=headers)

    # Write the headers to the CSV file
    writer.writeheader()

    # Write each JSON object to the CSV file
    for obj in data:
        writer.writerow(obj)

In [ ]:
data

In [ ]:
restaurant_data=pd.read_csv('data.csv')

In [ ]:
import pandas as pd
from sklearn.decomposition import PCA

# Load the restaurant data from file
data = pd.read_csv('data.csv')

# Create a dataframe with the rating and review scores
X = data[['rating', 'review']]

# Fit a PCA model to the data
pca = PCA().fit(X)

# Print the explained variance ratios
print(pca.explained_variance_ratio_)

# Determine the weights for rating and review scores
weights = pca.components_[0]
rating_weight = weights[0]
review_weight = weights[1]

print('Rating weight:', rating_weight)
print('Review weight:', review_weight)

In [ ]:
# Calculate the overall score for each restaurant
data['overall_score'] = data['rating'] * rating_weight + data['review'] * review_weight

In [ ]:
data['overall_score']

0     -1.270813
1     -0.541152
2     -0.847208
3     -0.207860
4     -0.290287
         ...
495   -1.121727
496   -0.698123
497   -0.713891
498   -0.663002
499   -0.623580
Name: overall_score, Length: 500, dtype: float64

In [ ]:
data

               name  rating  review  overall_score
0      Restaurant 0     0.9     0.9      -1.270813
1      Restaurant 1     0.7     0.1      -0.541152
2      Restaurant 2     0.6     0.6      -0.847208
3      Restaurant 3     0.2     0.1      -0.207860
4      Restaurant 4     0.1     0.3      -0.290287
..              ...     ...     ...            ...
495  Restaurant 495     0.9     0.7      -1.121727
496  Restaurant 496     0.6     0.4      -0.698123
497  Restaurant 497     0.4     0.6      -0.713891
498  Restaurant 498     0.1     0.8      -0.663002
499  Restaurant 499     0.6     0.3      -0.623580

[500 rows x 4 columns]